# Frontend Environment Variables
VITE_API_URL=http://localhost:3000/api
VITE_SOCKET_URL=http://localhost:3000
VITE_STUN_URL=stun:stun.l.google.com:19302
VITE_APP_NAME=Discus
VITE_MAX_PARTICIPANTS_VISIBLE=16
